@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div id="interface">
        <header id="cabecalho">
            <hgroup>
                <img id="icone" src="/_imagens/contato.png">
                <h1>Explorer agências</h1>
            </hgroup>
        </header>
        <nav id="menu">
            <h1>Menu Principal</h1>
            <ul>
                <a asp-action="Index">
                    <li onmouseover="mudaFoto('/_imagens/aviao01.png')" onmouseout="mudaFoto('/_imagens/contato.png')">Home</li>
                </a>
                <a asp-action="Destinos">
                    <li onmouseover="mudaFoto('/_imagens/globo01.png')" onmouseout="mudaFoto('/_imagens/contato.png')">Destinos</li>
                </a>
                <a asp-action="Promocao">
                    <li onmouseover="mudaFoto('/_imagens/promo.png')" onmouseout="mudaFoto('/_imagens/contato.png')">Promoções</li>
                </a>
                <a asp-action="Contato">
                    <li onmouseover="mudaFoto('/_imagens/contato.png')" onmouseout="mudaFoto('/_imagens/contato.png')">Contato</li>
                </a>
            </ul>
        </nav>
        <section id="corpo-full">
            <article id="noticia-principal">
                <form method="post" id="fContato" action="mailto:contato@blabla.com" oninput="calc_total()">
                    <fieldset id="usuario">
                        <legend>Usuário</legend>
                            <p><label for="cNome">Nome: </label><input type="text" name="tNome" id="cNome" size="30" maxlength="30" placeholder="Nome Completo"></p>
                            <p><label for="cSenha">Senha: </label><input type="password" name="tSenha" id="cSenha" size="8" maxlength="8" placeholder="8 dígitos"></p>
                            <p>E-mail: <input type="email" name="tMail" id="cMail" size="30" maxlength="30" placeholder="e-mail"></p>
                            <fieldset id="sexo"><legend>Sexo</legend>
                                    <input type="radio" name="tSexo" id="cMasc" checked><label for="cMasc">Masculino</label></input><br>
                                    <input type="radio" name="tSexo" id="cFem"><label for="cFem">Feminino</label></input>
                            </fieldset>
                            <p>Data de Nascimento: <input type="date" name="tNasc" id="cNasc"></p>
                    </fieldset>
                    <fieldset id="endereco">
                        <legend>Destino Desejado</legend>
                            <p><label for="cPais">País:</label>
                            <select name="tPais" id="cPais">
                                <optgroup label="América do Norte">
                                    <option value="CAN">Canadá</option>
                                    <option value="EUA">EUA</option>
                                </optgroup>
                                <optgroup label="África">
                                    <option value="EGT" selected>Egito</option>
                                    <option value="TZA">Tanzania</option>
                                </optgroup>
                            </select></p>
                            <p><label for="cCid">Cidade:</label>
                            <input type="text" name="tCid" id="cCid" maxlength="40" size="20" placeholder="Sua Cidade" list="cidades"></p>
                            <datalist id="cidades">
                                <option value="Toronto"></option>
                                <option value="Cairo"></option>
                                <option value="Nova Yorque"></option>
                                <option value="Kilimanjaro"></option>
                            </datalist>
                    </fieldset>
                    <fieldset id="pedido">
                        <legend>Compra</legend>
                            <p><input type="checkbox" name="tPed" id="cPed" checked>
                                <label for="cPed">Gostaria de adquirir as passagens</label></p>
                            <p><label for="cQtd">Quantidade:</label>
                            <input type="number" name="tQtd" id="cQtd" min="0" max="5" value="0"></p>
                            <p><label for="cTot">Preço Total: R$</label>
                            <input type="text" name="tTot" id="cTot" placeholder="Total a pagar" readonly></p>
                    </fieldset>
                    <span id="btn"><input id="btn" type="image" name="tEnviar" id="cEnviar" src="_imagens/botao-enviar.png"></span>
                </form>
            </article>
        </section>
            
        <footer id="rodape">
            <p>
        <a href="https://www.linkedin.com/in/h%C3%A9lio-carvalho-158223157/" target="_blank">LinkedIn</a> | <a href="https://www.facebook.com/helio.carvalho.24651" target="_blank">Facebook</a> | <a href="https://twitter.com/heliooak" target="_blank">Twitter</a> | <a href="https://www.instagram.com/heliocarvallho/" target="_blank">Instagram</a> | &copy;&trade;Hélio Carvalho
            </p>
        </footer>
    </div>
</div>