@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div id="interface">
        <header id="cabecalho">
            <hgroup>
                <img id="icone" src="/_imagens/globo01.png"/>
                <h1>Explorer agências</h1>
            </hgroup>
        </header>
        <nav id="menu">
            <h1>Menu Principal</h1>
            <ul>
                <a asp-action="Index">
                    <li onmouseover="mudaFoto('/_imagens/aviao01.png')" onmouseout="mudaFoto('/_imagens/globo01.png')">Home</li>
                </a>
                <a asp-action="Destinos">
                    <li onmouseover="mudaFoto('/_imagens/globo01.png')" onmouseout="mudaFoto('/_imagens/globo01.png')">Destinos</li>
                </a>
                <a asp-action="Promocao">
                    <li onmouseover="mudaFoto('/_imagens/promo.png')" onmouseout="mudaFoto('/_imagens/globo01.png')">Promoções</li>
                </a>
                <a asp-action="Contato">
                    <li onmouseover="mudaFoto('/_imagens/contato.png')" onmouseout="mudaFoto('/_imagens/globo01.png')">Contato</li>
                </a>
            </ul>
        </nav>
        <section id="corpo-full">
            <article id="noticia-principal">
                <header id="cabecalho-artigo">
                    <hgroup>
                        <h3>Explorar > Dias inesquecíveis</h3>
                        <h1>Lugares Incríveis</h1>
                    </hgroup>
                </header>
                <p>
                    Que tal apreciar um pouco e se ir se preparando para a viagem de seus sonhos. Curta nossa galeria coms belas imagens que mostram algumas das principais características e peculiaridades de nossos destinos. Vamos explorar?
                </p>
                <ul id="album-fotos">
                    <li id="foto01"><span>Cairo - Antigas Pirâmedes do Egito</span></li>
                    <li id="foto02"><span>Cairo - Momumentos históricos</span></li>
                    <li id="foto03"><span>Toronto - Cidade acolhedora</span></li>
                    <li id="foto04"><span>Kilimanjaro - Safari</span></li>
                    <li id="foto05"><span>Kilimanjaro - O famoso Monte</span></li>
                    <li id="foto06"><span>Nova York - A capital do Ocidente</span></li>
                </ul>
            </article>
        </section>
        <footer id="rodape">
            <p>
                <a href="https://www.linkedin.com/in/h%C3%A9lio-carvalho-158223157/" target="_blank">LinkedIn</a> | <a href="https://www.facebook.com/helio.carvalho.24651" target="_blank">Facebook</a> | <a href="https://twitter.com/heliooak" target="_blank">Twitter</a> | <a href="https://www.instagram.com/heliocarvallho/" target="_blank">Instagram</a> | &copy;&trade;Hélio Carvalho
            </p>
        </footer>
    </div>
</div>