@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div id="interface">
        <header id="cabecalho">
            <hgroup>
                <img id="icone" src="/_imagens/contato.png">
                <h1>Explorer agências</h1>
            </hgroup>
        </header>
        <nav id="menu">
            <h1>Menu Principal</h1>
            <ul>
                <a asp-action="Index">
                    <li onmouseover="mudaFoto('/_imagens/aviao01.png')" onmouseout="mudaFoto('/_imagens/contato.png')">Home</li>
                </a>
                <a asp-action="Destinos">
                    <li onmouseover="mudaFoto('/_imagens/globo01.png')" onmouseout="mudaFoto('/_imagens/contato.png')">Destinos</li>
                </a>
                <a asp-action="Promocao">
                    <li onmouseover="mudaFoto('/_imagens/promo.png')" onmouseout="mudaFoto('/_imagens/contato.png')">Promoções</li>
                </a>
                <a asp-action="Contato">
                    <li onmouseover="mudaFoto('/_imagens/contato.png')" onmouseout="mudaFoto('/_imagens/contato.png')">Contato</li>
                </a>
            </ul>
        </nav>
        <header id="cabecalho-artigo">
            <hgroup>
                <h3>Fale Conosco > Contato</h3>
            </hgroup>
        </header>
         [Inserir dados aqui]
        <footer id="rodape">
            <p>
                <a href="https://www.linkedin.com/in/h%C3%A9lio-carvalho-158223157/" target="_blank">LinkedIn</a> | <a href="https://www.facebook.com/helio.carvalho.24651" target="_blank">Facebook</a> | <a href="https://twitter.com/heliooak" target="_blank">Twitter</a> | <a href="https://www.instagram.com/heliocarvallho/" target="_blank">Instagram</a> | &copy;&trade;Hélio Carvalho
            </p>
        </footer>
    </div>
</div>
