@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
            <div id="interface">
                <header id="cabecalho">
                    <hgroup>
                        <img id="icone" src="/_imagens/aviao01.png">
                        <h1>Explorer agências</h1>
                    </hgroup>
                </header>
                <nav id="menu">
                    <h1>Menu Principal</h1>
                    <ul>
                        <a asp-action="Index">
                            <li onmouseover="mudaFoto('/_imagens/aviao01.png')" onmouseout="mudaFoto('/_imagens/aviao01.png')">Home</li>
                        </a>
                        <a asp-action="Destinos">
                            <li onmouseover="mudaFoto('/_imagens/globo01.png')" onmouseout="mudaFoto('/_imagens/aviao01.png')">Destinos</li>
                        </a>
                        <a asp-action="Promocao">
                            <li onmouseover="mudaFoto('/_imagens/promo.png')" onmouseout="mudaFoto('/_imagens/aviao01.png')">Promoções</li>
                        </a>
                        <a asp-action="Contato">
                            <li onmouseover="mudaFoto('/_imagens/contato.png')" onmouseout="mudaFoto('/_imagens/aviao01.png')">Contato</li>
                        </a>
                    </ul>
                </nav>
                <article id="noticia-principal">
                    <header id="cabecalho-artigo">
                        <hgroup>
                            <h3>Confiabilidade > &nbsp;Excelência</h3>
                            <h1>Saiba um pouco mais sobre a Explorer agências</h1>
                        </hgroup>
                    </header>
                    <h2>Conheça o Mundo com a gente</h2>
                    <p>
                        A <em><span style="text-decoration: underline;">Explorer agências</span></em> é uma das principais agências do Brasil para você planejar sua viagem com todo o conforto a destinos incriveis com um atendimento e suporte logístico de excelência. Dos cinco continentes, de norte a sul, leste a oeste, nos comprometemos a tornar sua viagem inesquecível em qualquer lugar do mundo.
                    </p>
            
                    <h2>Segurança e confiabilidade</h2>
                    <p>
                        Trabalhamos sempre para que você e sua família tenha a melhor experiência. Curta sua viagem sem preocupações com imprevistos que podem ocorrer. Nós disponibilizamos todo o suporte necessário com pacotes exclusivos para nossos clientes em parceria com uma das mais conceituada seguradora internacional de apoio a acidentes e recursos financeiros em situações de roubo e furto.
                    </p>
                </article>
                <footer id="rodape">
                    <p>
                        <a href="https://www.linkedin.com/in/h%C3%A9lio-carvalho-158223157/" target="_blank">LinkedIn</a> | <a href="https://www.facebook.com/helio.carvalho.24651" target="_blank">Facebook</a> | <a href="https://twitter.com/heliooak" target="_blank">Twitter</a> | <a href="https://www.instagram.com/heliocarvallho/" target="_blank">Instagram</a> | &copy;&trade;Hélio Carvalho
                    </p>
                </footer>
            </div>
        </div>
